set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PRO_SEARCH_KHACHHANG]  
	
	@HOTEN NVARCHAR(50)
AS
BEGIN
	
	
	SELECT * FROM dbo.tbl_KhachHang WHERE sHoTen like 'viet anh'

END

set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON




