set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PRO_INSERT_KHACHHANG]  
	
	@ID NVARCHAR(5),
	@HOTEN NVARCHAR(50),
	@NGAYSINH DATETIME,
	@SDT NVARCHAR(13),
	@DIACHI NVARCHAR(200),
	@TRANGTHAI INT
	--@DONVI INT
AS
BEGIN
	
	
	INSERT INTO dbo.tbl_KhachHang (PK_KhachHang,sHoTen,dNgaySinh,sSoDienThoai,sDiaChi,iTrangThai) 
	VALUES (@ID,@HOTEN,@NGAYSINH,@SDT,@DIACHI,@TRANGTHAI)

END

set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON



